$body-font: "DM Sans", sans-serif;
$body-title: "Playfair Display", sans-serif;

$primary-color: #4566D4;
$secondary-color: #F7CF47;
$text-color: #6A6C73;
$text-color3: #A5AABB;
$bg-color: #F3F4F8;
$bg-color1: #ffffff;
$bg-color2: #020A27;
$line-color: #D7D7D7;
$title-color: #04144E;
$icon-color: rgba(69, 102, 212, 0.1);
$field-color: #D2D6E4;

