.feature-area{
    background-color: $bg-color;
    padding-bottom: 100px;
}
.feature-item{
    margin-top: -140px;
    z-index: 2;
}

.item-card{
    padding: 30px 42px;
    gap: 25px;
    transition: all 0.5s ease-out;
    position: relative;
    top: 0;

    &:hover {
        top: -5px;

        .item-img1, .item-img2, .item-img3, .item-img4{
            transform: rotateY(-360deg);
            background-color: $primary-color;
            
            span {
                color: $bg-color1;
            }
        }
    }

    &:nth-child(1){
        background-color: $bg-color1;
        border-radius: 14px 0 0 14px;
    }
    &:nth-child(2){
        background-color: #ECF0FB;
    }
    &:nth-child(3){
        background-color: $bg-color1;
    }
    &:nth-child(4){
        background-color: #ECF0FB;
        border-radius: 0 14px 14px 0;
    }
    
    .item-img1, .item-img3{
        @include flex(center,center);
        @include icon-img(80px, 80px, $icon-color);
        transition: all 0.5s ease-out;


        span{
            font-size: 35px;
            color: $primary-color;
        }
    }
    .item-img2, .item-img4{
        @include flex(center,center);
        @include icon-img(80px, 80px, $bg-color1);
        transition: all 0.5s ease-out;

        
        span{
            font-size: 35px;
            color: $primary-color;
        }
    }

    .item-title{
        p{
            @include paragraph(14px, 400, 25px, $text-color, 10px);
        }
    }
        
}
.feature-title-sec{
    margin-top: 100px;
}