.latest-post-sec {
    padding: 100px 0;
    background-color: $bg-color;

    .latest-post-area {
        @include flex(center, center);
        flex-direction: column;
        gap: 50px;

        .post-title {
            text-align: center;

            h5{
                @include subtitle($primary-color);
            }    
            
        }

        .single-post-area {
            position: relative;
            border-radius: 14px 14px 0 0;
            z-index: 1;

            &:hover {
                .content-img {

                    img {
                        transform: scale(1.1);
                    }
                }
            }

            .content-img {
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                    transition: all 0.5s ease-out;
                }

                .img-title {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    background-color: $secondary-color;
                    border-radius: 10px;

                    span{
                        @include paragraph(12px, 500, 21px, $title-color, none);
                        padding: 4px 18px;
                    }
                }
            }

            .post-description {
                padding: 25px 25px 30px 25px;
                border-radius: 14px;
                position: relative;
                z-index: 2;
                margin: -50px 20px 0 20px;
                background-color: $bg-color1;
    
                .post-author {
                    @include flex(start, center);
                    gap: 12px;
    
                    .author-img{
                        width: 50px;
                        height: 50px;
    
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .author-name {
    
                      h5 {
                        @include paragraph(15px, 600, 18px, $title-color, none);
                        font-family: "Playfair Display", sans-serif;
                      }
    
                      span {
                        @include paragraph(14px, 500, 25px, $primary-color, none);
                        text-transform: capitalize;
                        }
                    }
                }
    
                .post-title{
                    margin-top: 25px;
                    text-align: start;
    
                    p {
                        @include paragraph(16px, 400, 28px, $text-color, 15px);
                        text-transform: capitalize;
                    }
                }
            }

        }

        
    }
}